@{
    ViewData["Title"] = "Result";
}

<h1>O resultado da @ViewBag.Operacao</h1>
<h3>A @ViewBag.Operacao dos números @ViewBag.Num1 @ViewBag.Sinal @ViewBag.Num2 é igual a @ViewBag.Result</h3>

<a href="/Calculadora"><button>Voltar</button></a>
